In [11]:
# url = 'https://boyorgirl-a4rmk57awq-uw.a.run.app/predict'

import requests
import pprint
url = 'http://127.0.0.1:8080/predict'

payload = ['Joe Biden', 'Kamala Harris']

response = requests.post(url, json=payload)
pprint.pprint(response.json())

{'response': [{'boy_or_girl': 'boy', 'name': 'Joe', 'probability': 0.56},
              {'boy_or_girl': 'boy', 'name': 'Biden', 'probability': 0.71},
              {'boy_or_girl': 'girl', 'name': 'Kamala', 'probability': 0.91},
              {'boy_or_girl': 'boy', 'name': 'Harris', 'probability': 0.74}]}

In [3]:
import pandas as pd
result = response.json()
df = pd.DataFrame(result['response'])
df

      name boy_or_girl  probability
0   shilpa        girl         0.97
1  stephen         boy         0.72
2      leo         boy         0.73
3   annika        girl         0.99

In [3]:
import os
os.environ.get("PORT", 8080)

8080